@font-face {
    font-family: 'BebasNeueRegular';
    	src: url('BebasNeue-webfont.eot');
    	src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a:hover{
	text-decoration: underline;color:#ff0000;
}
body {background: #E1EEFE url(../images/bg2.jpg) center top;
	font-family: Arial, sans-serif;
	
}

.content {
	width: 960px;
	background: url(../images/bg4.jpg) center top;
	margin: 0 auto;
	
}
.container {
	position: relative;
	background: url(../images/bg4.jpg) center top;
	margin: 0 auto 90px auto;
	
	
}
h1 {font-weight: normal;font-family: 'BebasNeueRegular';color:#5a5a5a;}
h2 {font-weight: normal;font-family: 'BebasNeueRegular';color:#5a5a5a;}
h3 {font-weight: bold;color:#5a5a5a;}
.event-list h3 {
	font-family: 'BebasNeueRegular';
	font-size: 1.7em;
	color:#5a5a5a;
	line-height: 1.8em;
	font-weight: normal;
}
h1 {line-height: 30px;margin-bottom: 3px;margin-top: 12px;}
h2 {line-height: 20px;margin-bottom: 12px;margin-top: 4px;}
.event-list h3 span.event-date {
	font-family: 'BebasNeueRegular';
	font-size: 1em;
	color:#c0c0c0;
	line-height: 1em;
	
}
.navigation {display:block;width:796px; margin:-85px 0 0 -68px; padding:15px 0 0 350px; position: relative;height:70px;background: url('../images/navbar.png') no-repeat;z-index: 3;}
.navigation ul {margin:0;}
.navigation li {
	display:inline;

	
	padding:10px 50px 20px 0;
	
}

.navigation li a {
	font-family: 'BebasNeueRegular';
	color:#fff;
	font-size: 2.2em;
	text-decoration: none;
	
}

.navigation li a:hover {

	text-decoration: underline;
}

.navigation li a.current {
text-decoration: underline;
}

.navigation li li a {
	color:#575757;
	font-size: 1.7em;
	line-height:1.0em;
}
.navigation li li a:hover {
	color:#ff0000;
	
	line-height:1.0em;
}

.navigation li li {
	display:block;
	padding:0;
	padding:5px 50px 5px 0;
}

.navigation li ul {
		background:#fff;
	padding:10px 13px 6px 14px;
	clear:both;
	border-left: #72AAD4 1px solid;
	border-right: #72AAD4 1px solid;
	border-bottom: #72AAD4 1px solid;
	border-radius: 0 0 5px 5px;
	margin: 0 0 0 0;
	background: #D6E6F3;
	
	
	
}


.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left: -15px;
	top: 3.55em;
	
	-webkit-box-shadow:  1px 1px 0px 1px #5C97CC;
    box-shadow:  1px 1px 0px 1px #477aa7;
    
    background: #ECF3F9 url(../images/nav-shad.png) repeat-x top;
}

#slider {
	height:330px;
	overflow:hidden;
	display:block;
	width:960px;
	
}

.slider-container{
	position: relative;
	display:block;
	z-index: 1;
	width: 960px;
height: 310px;
margin: -78px 0 0 -88px;
z-index: 1;
background: url('../images/slider-background.png');
padding: 56px 20px 70px 108px;
}

.slide-overlay {
	position: absolute;
	z-index:4 !important;
	background: url('../images/slide-overlay.png') no-repeat;
	width:960px;
	height:330px;
	top:56px;
	left:108px;

}


.logo {
	width:274px;
	height:200px;
	background: url('../images/blueprint-logo.png') no-repeat 0 -74px;
}

.event-list {
	width:522px;
	position: relative;
	z-index: 1;
	background:#fff;
	padding:113px 20px 20px 20px;
	clear:both;
	border: #72AAD4 1px solid;
	border-radius: 5px;
	margin: -80px 0 0 0;
	background: #fff url(../images/scribble-bg.png) no-repeat 110px -40px;
	
	-webkit-box-shadow:  1px 1px 0px 1px #5C97CC;
    box-shadow:  1px 1px 0px 1px #5C97CC;
}
.event-calendar {
	width:315px;
	position: relative;
	z-index: 1;
	background:#fff;
	padding:80px 28px 20px 28px;
	clear:both;
	border: #72AAD4 1px solid;
	border-radius: 5px;
	margin: -90px 0 0 -28px;
	background: #fff url(../images/scribble-bg.png) no-repeat -150px -80px;
	
	-webkit-box-shadow:  1px 1px 0px 1px #5C97CC;
    box-shadow:  1px 1px 0px 1px #5C97CC;
}

.head {
	height:200px;
	margin-left: 0;
	position: relative;
	z-index: 4;
	width:274px;
}

.left-panel {
	margin:0;

}
.right-panel {
	margin:0 -76px 0 24px;
	float:right;
	width:424px;
}
h1.events-heading {
	font-family: 'BebasNeueRegular';
	color:#fff;
	background:  url('../images/subbar-left.png') no-repeat 0 0;
	position: relative;
	z-index: 3;
	margin: 0 0 0 -70px;
	padding: 13px 0 20px 90px;
	font-weight: normal;
	font-size: 3em;
}

h1.calendar-heading{
	font-family: 'BebasNeueRegular';
	color:#fff;
	background: url('../images/subbar-right.png') no-repeat 0 0;
	position: relative;
	z-index: 3;
	margin: 0 0 0 -43px;
	padding: 10px 70px 30px 40px;
	font-weight: normal;
	font-size: 2.9em;
}
#slider-pages {display:none;}

.footer{
	padding:40px 20px;
	color:#ff0000;
	
	/* width:960px; */
	background: url('../images/bg3.png') no-repeat center 10px;
	display:block;

	font-weight:bold;
	clear:both;
}
.copyright{padding:40px 0 0 0;}

.footer a{
	color:#ff0000;
	}
	
.subleft-panel {

	position: relative;
	z-index: 1;
	background:#fff;
	padding:42px 20px 90px 20px;
	border: #72AAD4 1px solid;
	border-radius: 5px;
	margin: -30px 0 0 0;
	/* background: #fff url(../images/scribble-bg.png) no-repeat -150px -80px; */
}
.subleft{
	margin: 0 0 0 0;
	  width:238px;
}
.subright{
	/* padding:0 20px 0 20px; */
	margin-left: 30px;
	width:731px;
}

.subright-panel {

	position: relative;
	z-index: 1;
	background:#fff url('../images/navbar-bg.png') no-repeat 234px -40px;
	padding:57px 20px 40px 20px;
	border: #72AAD4 1px solid;
	border-radius: 5px;
	margin: -30px 0 0 -18px;
/* 	background: #fff url(../images/scribble-bg.png) no-repeat -150px -80px; */
}
.logo-lc {
	background: url(../images/lutheran-church.png) no-repeat left top;
	width:260px;
	height:41px;
	z-index: 3;
	position: absolute;
	top: 60px;
	left: 500px;
}
.logo-lc:hover {
	background: url(../images/lutheran-church.png) no-repeat left bottom;

}
a.link-lc {display: block;height:100%;text-decoration:none;}

span.side-divider{background:#ff0000;height:6px;border-radius: 2px;display: block;width:100%;position:relative;margin:10px 0 10px 0;
}

span.top-divider{background:#666;height:6px;border-radius: 2px;display: block;width:100%;position:relative;margin:5px 0 20px 0;
}
span.rightmenu-divider{background:#666;height:5px;border-radius: 2px;display: block;width:100%;position:relative;margin:10px 0 10px 0;
}
.subleft-panel h1{color:#ff0000;font-size: 3em;}

.side-menu {margin:0;}
.subleft-panel h1 {margin:0 0 0 4px;}
.side-menu li a {font-family: 'BebasNeueRegular';
	font-size: 1.7em;
	color:#5a5a5a;
	line-height: 1em;
	padding:8px 0 0 0;
	display: block;
	text-decoration: none;
	
	}
.side-menu a:hover{
	text-decoration: underline;color:#ff0000;
}
.side-menu li {
	list-style-type: none;
	margin:0 0 0 4px;
	padding:0;
}
.subright-panel img {margin:0 0 20px 0;}
a.st_sharethis_custom {font-family: 'BebasNeueRegular';font-size: 20px;color:#5a5a5a;text-decoration: none;line-height: 20px;margin-right: 0;margin-top:0;display:block;text-align: right;background:url(../images/share.png) no-repeat 60px -2px;padding: 0 4px 0 0;}

h2.download {font-family: 'BebasNeueRegular';font-size: 20px;color:#5a5a5a;line-height: 24px;margin-right: 0;margin-top:4px;display:block;background:url(../images/download.png) no-repeat 2px 0;padding: 0 0 0 26px;}

h2.location {font-family: 'BebasNeueRegular';font-size: 20px;color:#5a5a5a;line-height: 24px;margin:4px 0 10px 2px;display:block;background:url(../images/location.png) no-repeat 3px 0;padding: 0 0 0 26px;}

.subright-panel-content {width:395px;margin-left:2px;margin-top: 8px;}

.subright-panel-menu{
	width:240px;margin-left: 68px;	margin-top: 8px;
}

.side-menu li a.current, .navigation li li a.current{color:#ff0000;}

a.fb-link {display: block;margin-left:100px;width:40px;height:35px;float:left;text-decoration: none;
	background: url('../images/icon-social.png') no-repeat -100px 0;}
a.fb-link:hover {background-position: -100px -39px;
}
a.pin-link {display: block;width:45px;height:35px;float:left;margin-left:6px;text-decoration: none;
	background: url('../images/icon-social.png') no-repeat -145px 0;
}
a.pin-link:hover {background-position: -145px -39px;
}
a.twit-link {display: block;width:45px;height:35px;float:left;margin-left:6px;text-decoration: none;
	background: url('../images/icon-social.png') no-repeat -197px 0;
}
a.twit-link:hover {background-position: -197px -39px;
}

html #SearchForm_SearchForm {
	margin: 0;
	width: 206px;
	height: 41px;
	z-index: 3;
	position: absolute;
	top: 58px;
	left: 795px;
}


#SearchForm_SearchForm input[type="submit"] { 
	background: #D5E5F1 url('../images/icon-search.png') no-repeat center; 
	width:36px; height:34px;  
	border: solid #8BB3DC 1px;
	border-radius: 0;
	text-indent: -999px;
	margin-left: -1px;
}
	
	
#SearchForm_SearchForm input.text {
	width: 160px;
	border: none;
	color: #666;
	background: #F8FAFC;
	height:24px;
	border: solid #8BB3DC 1px;
	border-right: 0;
	border-radius: 0;
}
	
a.CampRegisterLink{
	
	padding:10px 18px 8px 18px;
	clear: both;
	border: #72AAD4 1px solid;
	border-radius: 5px;
	
	background: #D6E6F3;
	font-family: 'BebasNeueRegular';
	color:#72AAD4;
	font-size: 2.2em;
	text-decoration: none;
	margin:20px 0 20px 0;
	
	width: auto;
	-webkit-box-shadow:  1px 1px 0px 1px #477aa7;
    box-shadow:  1px 1px 0px 1px #477aa7;
}	
a.CampRegisterLink:hover{

	border: #EF3E35 1px solid;

	background: #D6E6F3;

	color:#EF3E35;
	-webkit-box-shadow:  1px 1px 0px 1px #EF3E35;
    box-shadow:  1px 1px 0px 1px #EF3E35;
	text-decoration: none;
}	

.CampRegisterLinkWrap {
	padding:40px 0 30px 0;
}
.map-loading {
	height:210px;
	background: url(../images/loading.gif) no-repeat center center;
}	
#GoogleMapBasic:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.download-list {margin-bottom: 20px;}
.download-item{margin: 0 0 8px 0;}

#SearchResults li {border-bottom: 1px solid #E8E3DC;padding: 5px 0 5px 0;}
#SearchResults li .readMoreLink{color:#ED3E35;text-decoration: none;}
#SearchResults li .readMoreLink:hover {color:#ED3E35;text-decoration: underline;}

#SearchResults li .searchResultHeader {color:#5a5a5a;display:block;background:url(../images/icon-searchpage.png) no-repeat 2px 0;padding: 0 0 0 20px;}
#SearchResults li .searchResultHeader:hover {color:#ED3E35;}

.breadcrumb-delimiter{
	background: url(../images/icon-arrow.png) no-repeat right -4px;
width: 8px;

padding: 0 8px 2px 4px;
margin: 0 0 0 6px;

}